/* Write your CSS here. */

body{
    margin: 0;
    background-color: green;
}

.navbar {
    display:flex;
    justify-content: space-between;
    align-items: center;
    background-color: #598AEB;
    height: 50px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: 35px;
    position: sticky;
    top: 0px;
}

.pf {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr 1fr;
    justify-items: center;
}

.wgs {
    position: relative;
    height: 241px;
    width: 320px;
    display: inline-block;
    overflow: hidden;
}

.wgs__mole-head {
    position: absolute;
    height: 178px;
    width: 188px;
    left: 54px;
    transition: margin-top 0.25s;
}

.wgs__dirt-pile {
    position: absolute;
    height: 110px;
    width: 320px;
    bottom: 0;
}

.wgs__mole-head--hidden {
    margin-top: 241px;
}
